
~$lms - Project Proposal 1.docx
admin/AccelaToken.txt
*.pyc
admin/AccelaRefreshToken.txt
admin/AccelaAccessToken.txt
raw_data/sf_planning_permits_20220321.geojson
permit_metrics_workspace.code-workspace
deliverables/Nelms - Work in Progress Report - Mar 4.docx
deliverables/~$lms - Work in Progress Report.docx
*.geojson
deliverables/Nelms - Work in Progress Review 1 - Hanpu Yao.pdf
*.geojson
